 /* ――――――――――――――――――――――――――――――――――――――――――――――――――――
  メニューページ
―――――――――――――――――――――――――――――――――――――――――――――――――――― */
 .menu-title {
   text-align: center;
   font-size: 2rem;
   /* font-weight: 700; */
   margin: 100px auto 40px auto;
 }

 .menu-cont {
   /* padding: 30px 300px 30px 300px; */
   padding: 30px auto 30px auto;
   /*test*/
 }

 .container {
   width: 1000px;
   margin: 0 auto 50px auto;
   background-color: rgb(110, 100, 87);
   padding: 10px 40px 30px 40px;
   border-radius: 20px;
   color: white;
 }

 @media screen and (max-width: 1024px) {
   .container {
     width: 95%;
     padding: 10px 20px 30px 20px;
   }
 }

 .main_menu {
   display: flex;
   justify-content: space-between;
   /*justify-content:center;*/
   /* test */
 }

 @media screen and (max-width: 1024px) {
   .main_menu {
     display: block;
   }
 }

 .topMenuPict img {
   width: 100%;
   height: 400px;
   object-fit: cover;
   display: block;
   margin: 0 auto;
   border-radius: 20px;

   animation: imgMove 2s ease-in forwards;
 }

 @keyframes imgMove {
   0% {
     opacity: 0;
   }
   100% {
     opacity: 100;
   }
 }

 @media screen and (max-width: 768px) {
  .topMenuPict img {
    height: auto;
  }
}


 .left-menu-title {
   margin-right: 0;
 }

 @media screen and (max-width: 1024px) {
   .left-menu-title {
     margin-right: auto;
   }
 }

 .bottom-menu-pict {
   width: 420px;
   border-radius: 20px;
   display:block;
   margin:0 auto;
 }

 @media screen and (max-width: 1024px) {
   .bottom-menu-pict {
    width: 80%;   
   }
 }

 .main_menu th {
   text-align: center;
   font-size: 1.5rem;
   font-weight: 700;
   line-height: 100px;
   width: 100px;
   /* color:#9ec3bc; */
 }

 @media screen and (max-width: 450px) {
  .main_menu th {
    font-size: 1.1rem;
    line-height: 50px;
  }
}

 .main_menu td {
   text-align: center;
   font-size: 1.5rem;
   line-height: 70px;
   width: 100px;
   border-top: solid 1px lightgray;
 }

 @media screen and (max-width: 450px) {
  .main_menu td {
    font-size: 1rem;
    line-height: 50px;
  }
}


 .main_menu table tr th:nth-of-type(1) {
   width: 120px;
   text-align: left;
   padding: 0 0 0 0px;
 }

 .main_menu table tr td:nth-of-type(1) {
   width: 120px;
   text-align: left;
   padding: 0 0 0 0px;
 }


 .right-menu-title1 {
   margin-bottom: 250px;
 }

 @media screen and (max-width: 1024px) {
  .right-menu-title1 {
    margin-bottom: 30px;
  }
}

 .right-menu-title2 {
   background-image: linear-gradient(to right, #fff, #fff 7px, transparent 7px, transparent 10px);
   /* 幅2の線を作る */
   background-size: 11px 2px;
   /* グラデーションの幅・高さを指定 */
   background-position: left top;
   /* 背景の開始位置を指定 */
   background-repeat: repeat-x;
   /* 横向きにのみ繰り返す */
 }

 @media screen and (max-width: 1024px) {
  .right-menu-title2 {
    background-image:none;
  }
}

 .menu-bottom {
   margin-top: 50px;
   text-align: center;
 }

 .menu-bottom2 {
   margin: 20px auto 0px auto;
   text-align: center;
   font-size: 1.5rem;
 }
 @media screen and (max-width: 768px) {
  .menu-bottom2 {
    font-size: 1.0rem;
  }
}